<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCC</title>
    <link rel="shortcut icon" href="../../static/lcc_app/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/lcc_app/css/index.css">
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtém a data da última visita armazenada
            let lastVisitDate = localStorage.getItem("lastVisitDate");
    
            // Obtém a data atual
            let todayDate = new Date().toISOString().split('T')[0]; // "YYYY-MM-DD"
    
            // Verifica se a data da última visita é diferente da data atual
            if (lastVisitDate !== todayDate) {
                // Se for a primeira vez no dia, exibe a tela de carregamento
                // Espera 3 segundos para remover a tela de carregamento
                setTimeout(function () {
                    // Remove a tela de carregamento
                    document.getElementById('loading-screen').style.display = 'none';
                    // Mostra o conteúdo do site
                    document.getElementById('content').style.display = 'block';
                }, 4000);
    
                // Atualiza a data da última visita
                localStorage.setItem("lastVisitDate", todayDate);
            } else {
                // Se já visitou no mesmo dia, apenas remove a tela de carregamento e mostra o conteúdo
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }
        });
    </script>
    
<div id="loading-screen">
    <div class="loading-icon"></div>
 </div>
    <div class="start">
        <h1 class="title_1">LCC: Reforço e Diversão</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="login">Sair</button></a>
            <a href="#"><button class="register">Aluno: {{ user.username }}</button></a>    
        {% else %}
            <a href="{% url 'login' %}"><button class="login">Entrar</button></a>
            <a href="{% url 'register' %}"><button class="register">Registrar</button></a>    
        {% endif %}
    </div>
    <div class="quite">

    </div>
    {% if user.is_authenticated %}
        <div class="card"> 
            <div class="P1">
                <h1 class="title_p1">Primeiro Período</h1>
                <hr class="hr1">
                <a href="{% url 'Intro_Pc' %}"><button>Introdução à Computação</button></a>
                <a href="{% url 'intro_programa' %}"><button>Introdução à Programação</button></a>
                <a href="{% url 'Matematica_discreta' %}"><button>Matemática Discreta</button></a>
                <a href="{% url 'calculo_1' %}"><button>Cálculo 1</button></a>
                <a href="{% url 'fundamento_antro' %}"><button>Fundamentos Antrofilosóficos da Educação</button></a>
                <a href="{% url 'Metologia_cientifica' %}"><button>Metodologia Científica</button></a>
            </div>
        </div>
    {% else %}
        <div class="end">
            <h1>Desenvolvido por universitários, para universitários de LCC.
            Crie sua conta e acesse conteúdo exclusivo, gratuito.
            Escolha a matéria e a prova para realizar seu quiz.
            Oferecemos quizzes, anexos e videoaulas para potencializar seu aprendizado.
            Utilizamos imagens e áudios para uma compreensão mais completa.</h1>
        </div>
    {% endif %}
    

</body>
</html>