<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCC| Matemática Discreta |</title>
    <link rel="shortcut icon" href="../../static/lcc_app/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/lcc_app/css/matematica_discreta.css">
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded',function(){

            const prova_1 = document.getElementById('prova_1');
            const prova_2 = document.getElementById('prova_2');
            const prova_3 = document.getElementById('prova_3');
            const tela = document.getElementsByClassName('tela')[0];
            let perguntas_erradas = [] ;
            let total_perguntas = 10;  
            let acertos = 0;

            prova_1.addEventListener('click',function(){
                tela.innerHTML = '';
                const titulo = document.createElement('h1');
                const listra = document.createElement('hr');
                const arquivos  = document.createElement('button');
                const videoaulas =  document.createElement('button');
                const desafios = document.createElement('button');
                const Quiz = document.createElement('button');

                desafios.textContent = 'Desafios';
                desafios.className = 'Quiz';
                arquivos.textContent = 'Matérias em PDF';
                arquivos.className = 'Quiz';
                videoaulas.textContent = 'Video-Aulas';
                videoaulas.classList = 'Quiz';
                titulo.textContent = 'Matemática Discreta';
                titulo.className = 'Titulo';
                Quiz.textContent = 'Quiz';
                Quiz.getElementsByClassName = 'Quiz';

                tela.appendChild(titulo);
                tela.appendChild(listra);
                tela.appendChild(arquivos);
                tela.appendChild(desafios);
                tela.appendChild(videoaulas);
                tela.appendChild(Quiz);

                arquivos.addEventListener('click',function(){
                    tela.innerHTML = '';
                    const arquivos = document.getElementById('arquivos');
                    const pdf_1 = document.createElement('button');
                    const donwload_1 = document.createElement('a');
                    donwload_1.href = '{{ pdf_1.arquivo.url }}';  
                    donwload_1.download = '{{ pdf_1.nome  }}';
                    pdf_1.textContent = ('Funções 1');
                    pdf_1.className = ('Quiz');
                    pdf_1.onclick = function(){
                        donwload_1.click();
                    }
                    tela.appendChild(pdf_1);
                })
                desafios.addEventListener('click',function(){
                    tela.innerHTML = '';
                    const arquivos = document.getElementById('arquivos');
                    const desafio_1 = document.createElement('button');
                    const donwload_1 = document.createElement('a');
                    donwload_1.href = '{{ desafio_1.arquivo.url }}';  
                    donwload_1.download = '{{ desafio_1.nome  }}';
                    desafio_1.textContent = ('Desafio - Funções 1');
                    desafio_1.className = ('Quiz');
                    desafio_1.onclick = function(){
                        donwload_1.click();
                    }
                    tela.appendChild(desafio_1);
                })
                videoaulas.addEventListener('click',function(){
                    tela.innerHTML = '';
                    const videoaulas_1 = document.createElement('iframe');
                    const videoaulas_2 = document.createElement('iframe');
                    const videoaulas_3 = document.createElement('iframe');
                    const videoaulas_4 = document.createElement('iframe');
                    const videoaulas_5 = document.createElement('iframe');

                    videoaulas_1.src = ('https://www.youtube.com/embed/QE6ruiq632o?si=XoQKPirsOgBd9w8Z');
                    videoaulas_1.controls = true;
                    videoaulas_1.width = 640;
                    videoaulas_1.height = 360;
                    videoaulas_1.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; // Permissões
                    videoaulas_1.allowFullscreen = true; // Permite que o vídeo seja exibido em tela cheia

                    videoaulas_2.src = ('https://www.youtube.com/embed/Tex6tUKEPQA?si=1SG_nAjGN7e7Xk7s');
                    videoaulas_2.controls = true;
                    videoaulas_2.width = 640;
                    videoaulas_2.height = 360;
                    videoaulas_2.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; // Permissões
                    videoaulas_2.allowFullscreen = true; // Permite que o vídeo seja exibido em tela cheia

                    videoaulas_3.src = ('https://www.youtube.com/embed/FrX2zstHdNg?si=WfIr8bQWT0nfSbjL');
                    videoaulas_3.controls = true;
                    videoaulas_3.width = 640;
                    videoaulas_3.height = 360;
                    videoaulas_3.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; // Permissões
                    videoaulas_3.allowFullscreen = true; // Permite que o vídeo seja exibido em tela cheia
                    
                    videoaulas_4.src = ('https://www.youtube.com/embed/U02g0_xvwgM?si=udldCAtbOVPbfn_c');
                    videoaulas_4.controls = true;
                    videoaulas_4.width = 640;
                    videoaulas_4.height = 360;
                    videoaulas_4.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; // Permissões
                    videoaulas_4.allowFullscreen = true; // Permite que o vídeo seja exibido em tela cheia

                    videoaulas_5.src = ('https://www.youtube.com/embed/hyyM1bToHTc?si=3ckQT8SCUiYGlW6p');
                    videoaulas_5.controls = true;
                    videoaulas_5.width = 640;
                    videoaulas_5.height = 360;
                    videoaulas_5.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; // Permissões
                    videoaulas_5.allowFullscreen = true; // Permite que o vídeo seja exibido em tela cheia

                    tela.appendChild(videoaulas_1);
                    tela.appendChild(videoaulas_2);
                    tela.appendChild(videoaulas_3);
                    tela.appendChild(videoaulas_4);
                    tela.appendChild(videoaulas_5);
                })
                Quiz.addEventListener('click',function(){
                    tela.innerHTML = '';
                    const iniciar = document.createElement('button');
                const Jogo = document.createElement('h1');
                const hr = document.createElement('hr');

                Jogo.textContent = 'Perguntas e Respostas';
                Jogo.className = 'Titulo';
                iniciar.textContent = 'Iniciar';
                iniciar.classList = 'Quiz';
                tela.appendChild(Jogo);
                tela.appendChild(hr);
                tela.appendChild(iniciar);

                iniciar.addEventListener('click', function() {

                    let perguntaAtual = 0;
                    const perguntas = [
                        {
                            pergunta: '1 – Qual é o valor da expressão A ∧ B quando A = Falso e B = Verdadeiro?',
                            opcoes: [
                                'Verdadeiro',
                                'Falso',
                                'Indeterminado',
                                'Não é possível determinar'
                            ],
                            resposta_correta: 1 // A primeira opção é a correta
                        },
                        {
                            pergunta: '2 – Qual é o resultado da expressão A ∨ ¬B quando A= Falso e B= Falso?',
                            opcoes: [
                                'Verdadeiro',
                                'Falso',
                                'Verdadeiro, se B for alterado',
                                'indeterminado'
                            ],
                            resposta_correta: 0 // A terceira opção é a correta
                        },
                        {
                            pergunta: '3 - A tabela verdade da operação A → B é verdadeira em quantas situações?',
                            opcoes: [
                                '1',
                                '2',
                                '3',
                                '4'
                            ],
                            resposta_correta: 2

                        },
                        {
                            pergunta: '4 – Qual é o valor da expressão (A ∨ B)∧ ¬C quando A= Verdadeiro,B= Falso e C=Verdadeiro?',
                            opcoes:[
                                'Verdadeiro',
                                'Falso',
                                'Indeterminado',
                                'Não é possível determinar',
                            ],
                            resposta_correta: 1

                        },
                        {
                            pergunta: '5 – Se A = Verdadeira e B = Verdadeira, qual é o valor da expressão A ∧(A ∨ B)?',
                            opcoes:[
                                'Verdadeiro',
                                'Falso',
                                'Indeterminado',
                                'Não é possível determinar'
                            ],
                            resposta_correta: 0
                        },
                        {
                            pergunta: '6 – O que a tabela verdade da operação A ↔ B indica quando A e B têm valores diferentes.',
                            opcoes:[
                                'Verdadeiro',
                                'Falso',
                                'Indeterminado',
                                'Não é possível determinar'
                            ],
                            resposta_correta: 1
                        },
                        {
                            pergunta: '7 – Qual é o resultado da expressão ¬(A ∨ B) quando A = Falso e B = Falso?',
                            opcoes:[
                                'Verdadeiro',
                                'Falso',
                                'Indeterminado',
                                'Não é possível determinar'
                            ],
                            resposta_correta:0
                        },
                        {
                            pergunta:'8 – Se a expressão A ∧ B é verdadeira, quais são os valores possíveis de A e B?',
                            opcoes: [
                                'A = Falso, B = Falso',
                                'A = Verdadeiro, B = Falso',
                                'A = Falso, B = Verdadeiro',
                                'A = Verdadeiro, B = Verdadeiro'
                            ],
                            resposta_correta:3
                        },
                        {
                            pergunta: '9 – Qual é a tabela verdade para a expressão ¬A ∧ B?',
                            opcoes: [
                                'Verdadeiro quando A é Verdadeiro',
                                'Falso quando A é Falso',
                                'Verdadeiro quando A é Falso e B é Verdadeiro',
                                'Verdadeiro quando A e B são ambos Verdadeiros'
                            ],
                            resposta_correta:2
                        },
                        {
                            pergunta:'10 – O que é uma tabela verdade?',
                            opcoes:[
                                'Uma representação gráfica de uma função',
                                'Uma lista de possíveis combinações de valores de entrada e seus resultados',
                                'Um tipo de equação matemática',
                                'Um método de cálculo de probabilidades'
                            ],
                            resposta_correta:1
                        },
                      
                        // Adicione mais perguntas aqui
                    ];
                    function mostrarPergunta(index) {
                        tela.innerHTML = '';

                        const Pergunta = document.createElement('h1');
                        const hr = document.createElement('hr');
                        Pergunta.className = 'Titulo2';
                        Pergunta.textContent = perguntas[index].pergunta;

                        const opcao_1 = document.createElement('button');
                        const opcao_2 = document.createElement('button');
                        const opcao_3 = document.createElement('button');
                        const opcao_4 = document.createElement('button');

                        opcao_1.textContent = perguntas[index].opcoes[0];
                        opcao_2.textContent = perguntas[index].opcoes[1];
                        opcao_3.textContent = perguntas[index].opcoes[2];
                        opcao_4.textContent = perguntas[index].opcoes[3];

                        opcao_1.className = 'Quiz';
                        opcao_2.className = 'Quiz';
                        opcao_3.className = 'Quiz';
                        opcao_4.className = 'Quiz';



                        tela.appendChild(Pergunta);
                        tela.appendChild(hr);
                        tela.appendChild(opcao_1);
                        tela.appendChild(opcao_2);
                        tela.appendChild(opcao_3);
                        tela.appendChild(opcao_4);

                        function verificarResposta(opcao) {
                            if (opcao === perguntas[index].resposta_correta) {
                                alert('Resposta correta!');
                                acertos += 1; // Adiciona 1 ponto por resposta correta

                            } else {
                                alert('Resposta incorreta!');
                                perguntas_erradas.push(perguntaAtual)
                            }
                            perguntaAtual++;
                            if (perguntaAtual < perguntas.length) {
                                mostrarPergunta(perguntaAtual); // Mostra a próxima pergunta
                            } else {
                                alert('Quiz finalizado!');
                                tela.innerHTML='';
                                let erros = (total_perguntas - acertos);
                                let media = (acertos / total_perguntas) * 100;
                                const resultadoFinal = document.createElement('div');
                                const Pontuação_final = document.createElement('h1');
                                const Pontuação_final_span_1 = document.createElement('span');
                                const Pontuação_final_span_2 = document.createElement('span');
                                Pontuação_final_span_1.className = ('resultado_2');
                                Pontuação_final_span_2.className = ('valor');
                                Pontuação_final_span_1.textContent = ('Pontuação final: ')
                                Pontuação_final_span_2.textContent = (`${Math.round(media)}%`)
                                Pontuação_final.appendChild(Pontuação_final_span_1);
                                Pontuação_final.appendChild(Pontuação_final_span_2);

                                const total_perguntas_acertadas = document.createElement('h1');
                                const total_perguntas_acertadas_span_1 = document.createElement('span');
                                const total_perguntas_acertadas_span_2 = document.createElement('span');
                                total_perguntas_acertadas_span_1.className = ('resultado_2');
                                total_perguntas_acertadas_span_2.className = ('valor');
                                total_perguntas_acertadas_span_1.textContent = ('Total de perguntas acertadas: ')
                                total_perguntas_acertadas_span_2.textContent = (`${acertos}`);
                                total_perguntas_acertadas.appendChild(total_perguntas_acertadas_span_1);
                                total_perguntas_acertadas.appendChild(total_perguntas_acertadas_span_2);

                                const total_perguntas_erradas = document.createElement('h1');
                                const total_perguntas_erradas_span_1 = document.createElement('span');
                                const total_perguntas_erradas_span_2 = document.createElement('span');
                                total_perguntas_erradas_span_1.className = ('resultado_2');
                                total_perguntas_erradas_span_2.className = ('valor');
                                total_perguntas_erradas_span_1.textContent = ('total de perguntas erradas: ')
                                total_perguntas_erradas_span_2.textContent = (` ${erros} `)
                                total_perguntas_erradas.appendChild(total_perguntas_erradas_span_1);
                                total_perguntas_erradas.appendChild(total_perguntas_erradas_span_2);

                                const lista_de_perguntas_erradas = document.createElement('h1');
                                const lista_de_perguntas_erradas_span_1 = document.createElement('span');
                                const lista_de_perguntas_erradas_span_2 = document.createElement('span');
                                lista_de_perguntas_erradas_span_1.className = ('resultado_2');
                                lista_de_perguntas_erradas_span_2.className = ('valor');
                                lista_de_perguntas_erradas_span_1.textContent = ('Questões erradas: ');
                                lista_de_perguntas_erradas_span_2.textContent = (`${perguntas_erradas}`);
                                lista_de_perguntas_erradas.appendChild(lista_de_perguntas_erradas_span_1);
                                lista_de_perguntas_erradas.appendChild(lista_de_perguntas_erradas_span_2);
                                const final = document.createElement('h1');
                                const hr_1 = document.createElement('hr');
                                const hr_2 = document.createElement('hr');
                                


                                final.textContent = ('Quiz Finalizado')
                                final.className = ('resultado_1')
                                resultadoFinal.className = ('resultado_final');

                                resultadoFinal.appendChild(final)
                                resultadoFinal.appendChild(Pontuação_final);
                                resultadoFinal.appendChild(hr_1)
                                resultadoFinal.appendChild(total_perguntas_acertadas);
                                resultadoFinal.appendChild(hr_2)
                                resultadoFinal.appendChild(total_perguntas_erradas);
                                resultadoFinal.appendChild(hr)
                                resultadoFinal.appendChild(lista_de_perguntas_erradas);

                                tela.appendChild(resultadoFinal);

                                // Você pode adicionar lógica para mostrar o resultado final aqui.
                            }
                        }


                        // Adicionando eventos de clique para verificar a resposta
                        opcao_1.addEventListener('click', function() {
                            verificarResposta(0);
                        });
                        opcao_2.addEventListener('click', function() {
                            verificarResposta(1);
                        });
                        opcao_3.addEventListener('click', function() {
                            verificarResposta(2);
                        });
                        opcao_4.addEventListener('click', function() {
                            verificarResposta(3);
                        });
                    }

                    mostrarPergunta(perguntaAtual); // Mostra a primeira pergunta
                });
                })
            })
        prova_2.addEventListener("click",function(){
            tela.innerHTML = '';
            const titulo = document.createElement('h1');
            const listra = document.createElement('hr');
            const arquivos  = document.createElement('button');
            const videoaulas =  document.createElement('button');
            const desafios = document.createElement('button');
            const Quiz = document.createElement('button');

            desafios.textContent = 'Desafios';
            desafios.className = 'Quiz';
            arquivos.textContent = 'Matérias em PDF';
            arquivos.className = 'Quiz';
            videoaulas.textContent = 'Video-Aulas';
            videoaulas.classList = 'Quiz';
            titulo.textContent = 'Matemática Discreta';
            titulo.className = 'Titulo';
            Quiz.textContent = 'Quiz';
            Quiz.getElementsByClassName = 'Quiz';

            tela.appendChild(titulo);
            tela.appendChild(listra);
            tela.appendChild(arquivos);
            tela.appendChild(desafios);
            tela.appendChild(videoaulas);
            tela.appendChild(Quiz);
            })

        prova_3.addEventListener("click",function(){
            tela.innerHTML = '';
            const titulo = document.createElement('h1');
            const listra = document.createElement('hr');
            const arquivos  = document.createElement('button');
            const videoaulas =  document.createElement('button');
            const desafios = document.createElement('button');
            const Quiz = document.createElement('button');

            desafios.textContent = 'Desafios';
            desafios.className = 'Quiz';
            arquivos.textContent = 'Matérias em PDF';
            arquivos.className = 'Quiz';
            videoaulas.textContent = 'Video-Aulas';
            videoaulas.classList = 'Quiz';
            titulo.textContent = 'Matemática Discreta';
            titulo.className = 'Titulo';
            Quiz.textContent = 'Quiz';
            Quiz.getElementsByClassName = 'Quiz';

            tela.appendChild(titulo);
            tela.appendChild(listra);
            tela.appendChild(arquivos);
            tela.appendChild(desafios);
            tela.appendChild(videoaulas);
            tela.appendChild(Quiz);
            })
        })
        //Fazer parte dois

    </script>
    
        <a href="{% url 'home' %}"><button class="rotas">Inicio</button></a>
        <div class="escolhas" >
            <div class="tela">
                <h1>Matemática Discreta</h1>
                <hr>
                <button id="prova_1">Prova 1</button>
                <button id="prova_2">Prova 2</button>
                <button id="prova_3">Prova 3</button>
            </div>
        </div>
</body>
</html>